html{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 

    -webkit-user-select: none;
    user-select: none;

    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

body{
    background-color: #ebf1f1;
    font-size: 14px;
}

.alertbtn{
    background-color: #0275d8;
}

.form-control:focus{
    box-shadow: none;
    border:none;
}